# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


#***********************************************
# My items
#***********************************************
.vscode/
/tempdata/*
!/tempdata/readme.txt